SNMP各版本的解决的问题

SNMP各版本的应用场景, 解决的问题, 要达到的(设计)目标, 功能和性能效果, 存在的问题和限制.

SNMP的目的是基于SGMP(Simple Gateway Monitoring Protocol)的改进. 改进了哪里? 
SNMPv1没有实质性的安全措施. SNMPv1在功能和效率方面的主要缺点有哪些?
以SMP(Simple Management Protocol, 可以管理任意资源-网络, 系统, 应用)为基础的SNMPv2.
去掉SNMPv2的安全机制, 成为基于团体的SNMP(community-based SNMP, SNMPv2C).
SNMPv2没有达到商业级别的安全要求.
SNMPv3中增加基于用户的安全模型(USM)和基于视图的访问控制模型(VACM).


Simple Gateway Monitoring Protocol (SGMP) defined in RFC 1028, allows commands to be issued to application protocol entities to set or retrieve values (integer or octet string types) for use in monitoring the gateways on which the application protocol entities reside. Messages are exchanged using UDP and utilize unreliable transport methods. Authentication takes place on UDP port 153. Some examples of things that can be monitored are listed below.

    Network Type for interfaces: IEEE 802.3 MAC, IEEE 802.4 MAC, IEEE 802.5 MAC, Ethernet, ProNET-80, ProNET-10, FDDI, X.25, Point-to-Point Serial, RPA 1822 HDH, ARPA 1822, AppleTalk, StarLAN
    Interface Status (down, up, attempting, etc.)
    Route Type (local, remote, sub-network, etc.)
    Routing Protocol (RIP, EGP, GGP, IGRP, Hello)

The protocol was replaced by SNMP (Simple Network Management Protocol) 


  | This section is in a list format that may be better presented using prose. You can help by converting this section to prose, if appropriate. Editing help is available.  (September 2016)
-- | --





  | This section is in a list format that may be better presented using prose. You can help by converting this section to prose, if appropriate. Editing help is available.  (September 2016)
-- | --




Simple Network Management Protocol (SNMP) is an Internet Standard protocol for **collecting** and **organizing information** about **managed devices** on IP networks and for **modifying** that **information** to **change device behavior**. Devices that typically support SNMP include cable modems, routers, switches, servers, workstations, printers, and more.

SNMP is widely used in network management for network monitoring. SNMP exposes _management data in the form of variables on the managed systems organized_ in a **management information base (MIB)** which describe the system status and configuration. These variables can then be remotely queried (and, in some circumstances, manipulated) by managing applications.

Three significant versions of SNMP have been developed and deployed. SNMPv1 is the original version of the protocol. More recent versions, SNMPv2c and SNMPv3, feature improvements in performance, flexibility and security.

SNMP is a component of the Internet Protocol Suite as defined by the Internet Engineering Task Force (IETF). It consists of **a set of standards for network management**, including an **application layer protocol**, a **database schema**, and a set of **data objects**.

Version 1

SNMP version 1 (SNMPv1) is the initial implementation of the SNMP protocol. The design of SNMPv1 was done in the 1980s by a group of collaborators who viewed the officially sponsored OSI/IETF/NSF (National Science Foundation) effort (HEMS/CMIS/CMIP) as both unimplementable in the computing platforms of the time as well as potentially unworkable. SNMP was approved based on a belief that it was an interim protocol needed for taking steps towards large scale deployment of the Internet and its commercialization.

The first Request for Comments (RFCs) for SNMP, now known as SNMPv1, appeared in 1988:

    RFC 1065 — Structure and identification of management information for TCP/IP-based internets
    RFC 1066 — Management information base for network management of TCP/IP-based internets
    RFC 1067 — A simple network management protocol

In 1990, these documents were superseded by:

    RFC 1155 — Structure and identification of management information for TCP/IP-based internets
    RFC 1156 — Management information base for network management of TCP/IP-based internets
    RFC 1157 — A simple network management protocol

In 1991, RFC 1156 (MIB-1) was replaced by the more often used:

    RFC 1213 — Version 2 of management information base (MIB-2) for network management of TCP/IP-based internets

SNMPv1 is widely used and is the de facto network management protocol in the Internet community.[12]

SNMPv1 may be carried by transport layer protocols such as User Datagram Protocol (UDP), Internet Protocol (IP), OSI Connectionless-mode Network Service (CLNS), AppleTalk Datagram Delivery Protocol (DDP), and Novell Internetwork Packet Exchange (IPX).

Version 1 has been criticized for its poor security.[13] The specification does, in fact, allow room for custom authentication to be used, but widely-used implementations "support only a trivial authentication service that identifies all SNMP messages as authentic SNMP messages."[14]. The security of the messages, therefore, becomes dependent on the security of the channels over which the messages are sent. For example, an organization may consider their internal network to be sufficiently secure that no encryption is necessary for their SNMP messages. In such cases, the "community name", which is transmitted in cleartext, tends to be viewed as a de-facto password, in spite of the original specification. 

Version 2

SNMPv2, defined by RFC 1441 and RFC 1452, revises version 1 and includes improvements in the areas of performance, security and manager-to-manager communications. It introduced GetBulkRequest, an alternative to iterative GetNextRequests for retrieving large amounts of management data in a single request. The new party-based security system introduced in SNMPv2, viewed by many as overly complex, was not widely adopted.[13] This version of SNMP reached the Proposed Standard level of maturity, but was deemed obsolete by later versions.[15]

Community-Based Simple Network Management Protocol version 2, or SNMPv2c, is defined in RFC 1901–RFC 1908. SNMPv2c comprises SNMPv2 without the controversial new SNMP v2 security model, using instead the simple community-based security scheme of SNMPv1. This version is one of relatively few standards to meet the IETF's Draft Standard maturity level, and was widely considered the de facto SNMPv2 standard.[15] It too was later obsoleted, by SNMPv3.

User-Based Simple Network Management Protocol version 2, or SNMPv2u, is defined in RFC 1909–RFC 1910. This is a compromise that attempts to offer greater security than SNMPv1, but without incurring the high complexity of SNMPv2. A variant of this was commercialized as SNMP v2*, and the mechanism was eventually adopted as one of two security frameworks in SNMP v3.[citation needed]
SNMPv1 & SNMPv2c interoperability
As presently specified, SNMPv2c is incompatible with SNMPv1 in two key areas: message formats and protocol operations. SNMPv2c messages use different header and protocol data unit (PDU) formats from SNMPv1 messages. SNMPv2c also uses two protocol operations that are not specified in SNMPv1. Furthermore, RFC 3584 (which obsoletes RFC 2576) defines two possible SNMPv1/v2c coexistence strategies: proxy agents and bilingual network-management systems. 

Although SNMPv3 makes no changes to the protocol aside from the addition of cryptographic security, it looks much different due to new textual conventions, concepts, and terminology.[1] The most visible change was to define a secure version of SNMP, by adding security and remote configuration enhancements to SNMP[16] - due to lack of security in earlier versions, network administrators often used other means such as telnet and SSH for configuration, accounting, and fault management. SNMPv3 focuses on two main aspects, namely security and administration. The security aspect is addressed by offering both strong authentication and data encryption for privacy. For the administration aspect, SNMPv3 focuses on two parts, namely notification originators and proxy forwarders. The changes also facilitated remote configuration and administration of the SNMP entities, as well as addressing issues related to the large-scale deployment, accounting, and fault management.

Features and enhancements included:

        Identification of SNMP entities to facilitate communication only between known SNMP entities – Each SNMP entity has an identifier called the SNMPEngineID, and SNMP communication is possible only if an SNMP entity knows the identity of its peer. Traps and Notifications are exceptions to this rule.
        Support for security models – A security model may define the security policy within an administrative domain or an intranet. SNMPv3 contains the specifications for USM (User-based Security Model).
        Definition of security goals where the goals of message authentication service include protection against the following:
            Modification of Information – Protection against some unauthorized SNMP entity altering in-transit messages generated by an authorized principal.
            Masquerade – Protection against attempting management operations not authorized for some principal by assuming the identity of another principal that has the appropriate authorizations.
            Message Stream Modification – Protection against messages getting maliciously re-ordered, delayed, or replayed to effect unauthorized management operations.
            Disclosure – Protection against eavesdropping on the exchanges between SNMP engines.
        Specification for USM – USM (User-based Security Model) consists of the general definition of the following communication mechanisms available:
            Communication without authentication and privacy (NoAuthNoPriv).
            Communication with authentication and without privacy (AuthNoPriv).
            Communication with authentication and privacy (AuthPriv).
        Definition of different authentication and privacy protocols – Currently, the MD5 and SHA authentication protocols and the CBC_DES and CFB_AES_128 privacy protocols are supported in the USM. Operations and Management Area Working Group (OpsAWG) of IETF is currently (March 2015) advancing HMAC-SHA-2 authentication protocols for USM.
        Definition of a discovery procedure – To find the SNMPEngineID of an SNMP entity for a given transport address and transport endpoint address.
        Definition of the time synchronization procedure – To facilitate authenticated communication between the SNMP entities.
        Definition of the SNMP framework MIB – To facilitate remote configuration and administration of the SNMP entity.
        Definition of the USM MIBs – To facilitate remote configuration and administration of the security module.
        Definition of the VACM MIBs – To facilitate remote configuration and administration of the access control module.

Security was one of the biggest weakness of SNMP until v3. Authentication in SNMP Versions 1 and 2 amounts to nothing more than a password (community string) sent in clear text between a manager and agent.[1] Each SNMPv3 message contains security parameters which are encoded as an octet string. The meaning of these security parameters depends on the security model being used.[17] The security approach in v3 targets:[18]

        Confidentiality – Encryption of packets to prevent snooping by an unauthorized source.
        Integrity – Message integrity to ensure that a packet has not been tampered while in transit including an optional packet replay protection mechanism.
        Authentication – to verify that the message is from a valid source.

v3 also defines the USM and VACM, which were later followed by a transport security model that provided support for SNMPv3 over SSH and SNMPv3 over TLS and DTLS.

        USM (User-based Security Model) provides authentication and privacy (encryption) functions and operates at the message level.
        VACM (View-based Access Control Model) determines whether a given principal is allowed access to a particular MIB object to perform specific functions and operates at the PDU level.
        TSM (Transport Security Model) provides a method for authenticating and encrypting messages over external security channels. Two transports, SSH and TLS/DTLS, have been defined that make use of the TSM specification.


As of 2004 the IETF recognizes Simple Network Management Protocol version 3 as defined by RFC 3411–RFC 3418[19] (also known as STD0062) as the current standard version of SNMP. The IETF has designated SNMPv3 a full Internet standard,[20] the highest maturity level for an RFC. It considers earlier versions to be obsolete (designating them variously "Historic" or "Obsolete").[15] 

SNMP各版本的应用场景, 解决的问题, 要达到的(设计)目标, 功能和性能效果, 存在的问题和限制.
1. SGMP对网关软件进行监控. 如何了解和改变监控网关的状态. 了解和设置网关的网络接口类型和状态, 路由类型和状态. 查询和设置网关软件的数据(整数或8进制字符串). 仅适合对网关软件的监控, 监控的内容仅限于基本的接口和路由信息, 信息不全面, 不详细. 
1. SNMPv1对大规模部署的Internet(IP网络)进行监控. 如何了解和改变IP网络各个设备的状态, 有哪些设备, 管理哪些信息, 如何操作这些信息. 功能包括: 组织, 查询和设置设备信息. SNMP包括一个应用层协议, 一个数据库模式和数据对象的集合. 用MIB(Management Information Base)中的变量代表设备的管理数据, 描述系统的状态和配置. 这些变量可以远程查询或设置.  每次请求访问一条数据GetNextRequests, 安全机制采用community-based security scheme.  password (community string) sent in clear text between a manager and agent. 缺乏充分的安全机制导致SNMP的设置数据功能被各个厂商关闭. 
1. SNMPv2提升性能, 安全, 管理者之间的通信. 一次请求访问大量数据GetBulkRequest. 采用的安全机制party-based security system被认为太复杂. 
SNMPv2c采用与SNMPv1同样的安全机制.  
SNMPv2u(User-Based Simple Network Management Protocol version 2)采用.   
As presently specified, SNMPv2c is incompatible with SNMPv1 in two key areas: message formats and protocol operations.  RFC 3584 (which obsoletes RFC 2576) defines two possible SNMPv1/v2c coexistence strategies: proxy agents and bilingual network-management systems.  
1. SNMPv3增强了安全性和远程配置能力. 安全性方面包括强认证和数据加密. 管理方面包括
: 通知发起人和代理转发器(notification originators and proxy forwarders). 这使得远程配置和管理SNMP实体, 解决大规模部署, 计费和故障管理(远程运维)成为可能. 
    Definition of a discovery procedure – To find the SNMPEngineID of an SNMP entity for a given transport address and transport endpoint address.
    Definition of the time synchronization procedure – To facilitate authenticated communication between the SNMP entities.
    Definition of the SNMP framework MIB – To facilitate remote configuration and administration of the SNMP entity.
    Definition of the USM MIBs – To facilitate remote configuration and administration of the security module.
    Definition of the VACM MIBs – To facilitate remote configuration and administration of the access control module.
  Each SNMPv3 message contains security parameters which are encoded as an octet string. The meaning of these security parameters depends on the security model being used.[17] The security approach in v3 targets:
    Confidentiality – Encryption of packets to prevent snooping by an unauthorized source.
    Integrity – Message integrity to ensure that a packet has not been tampered while in transit including an optional packet replay protection mechanism.
    Authentication – to verify that the message is from a valid source.
SNMPv3 defines the USM and VACM, which were later followed by a transport security model that provided support for SNMPv3 over SSH and SNMPv3 over TLS and DTLS.
    USM (User-based Security Model) provides authentication and privacy (encryption) functions and operates at the message level.
    VACM (View-based Access Control Model) determines whether a given principal is allowed access to a particular MIB object to perform specific functions and operates at the PDU level.
    TSM (Transport Security Model) provides a method for authenticating and encrypting messages over external security channels. Two transports, SSH and TLS/DTLS, have been defined that make use of the TSM specification.

As of 2004 the IETF recognizes Simple Network Management Protocol version 3 as defined by RFC 3411–RFC 3418 (also known as STD0062) as the current standard version of SNMP. The IETF has designated SNMPv3 a full Internet standard, the highest maturity level for an RFC. It considers earlier versions to be obsolete (designating them variously "Historic" or "Obsolete").